:root {
	--primary: #a4afc4;
	--accent: #96a397;
	--text-col: #344335;
	--text-neut: #1e1e1e;
	--white: #ffffff;
	--neutral: #ecefec;
	--primary-font: "Urbanist";
	--secondary-font: "Alata";
}

* {
	background: 0;
	border: none;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}
@font-face {
	font-family: Urbanist;
	src: url(./assets/fonts/Urbanist-VariableFont_wght.ttf);
}
@font-face {
	font-family: Alata;
	src: url(./assets/fonts/Alata-Regular.ttf);
}
body {
	font-family: var(--primary-font);
}

/* general styles */
.flex {
	display: flex;
}
.alata {
	font-family: Alata, sans-serif;
}
.text {
	color: var(--text-col);
}
.nav-items {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.7rem;
	padding: 0.8rem 1.2rem;
	border-radius: 5px;
}
.nav-items.active,
.nav-items:hover {
	background-color: #f7f7f7;
	cursor: pointer;
	color: var(--text-col);
	font-weight: 600;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100svh;
}

/*** Login Page Style ***/
.login {
	flex-grow: 1;
	height: 100%;

	.left {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--primary);
		width: 100%;
		text-align: center;
		gap: 1.5rem;
		line-height: 2rem;
		font-weight: 400;
	}
	.right {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		background: url(../src/assets/images/Ellipse.svg);
		background-size: 100%;
		background-position: left top;
		background-repeat: no-repeat;

		.text {
			width: 55%;
			min-width: 300px;
		}
		h2 {
			color: var(--primary);
		}
		p {
			margin: 0.5rem 0 1rem;
		}
		form {
			flex-direction: column;
			gap: 1rem;
			width: 100%;
		}
		.input {
			margin-top: 0.2rem;
			border: 1px solid var(--accent);
			border-radius: 8px;
			position: relative;
		}
		span.eye-icon {
			position: absolute;
			top: 50%;
			right: -15px;
			transform: translateY(-40%);
			display: inline-block;
		}
		.eye-icon > svg {
			fill: var(--accent);
			width: 5rem;
		}

		.input input {
			padding: 0.7rem;
			width: 100%;
		}
		input::placeholder {
			color: var(--accent);
			font-family: var(--primary-font);
		}
		.forgot-pwd {
			text-decoration: underline;
			font-weight: 600;
			font-size: 0.9rem;
		}
		button[type="submit"] {
			background-color: var(--accent);
			padding: 1rem;
			border-radius: 8px;
			color: var(--white);
			margin-top: 1rem;
		}
	}
}

/*** Layout Dashboard Style ***/
.layout {
	flex-grow: 1;
	height: 100%;
	display: grid;
	grid-template-columns: 320px 1fr;

	.dashboard {
		padding: 1rem;
		margin-right: 0.5rem;
		border-right: 1px solid var(--neutral);
		display: grid;
		grid-auto-flow: row;
		grid-template-rows: 100px 1fr 100px;

		.item-1 {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 0.7rem;
			padding: 0.8rem 1.2rem;
			border-radius: 5px;
			justify-self: flex-start;
			align-self: flex-start;
			background: var(--primary);
			color: white;
			font-weight: 600;
			width: 100%;

			img {
				width: 38px;
			}
		}
		.item-2 {
			flex-direction: column;
			gap: 5px;
		}
		.item-3 {
			justify-self: flex-start;
			align-self: flex-end;
			align-items: center;
			justify-content: space-between;
			gap: 10px;

			img.profile-img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}

			.nav-footer-name {
				font-size: 1.2rem;
			}
			div > p {
				font-weight: 600;
			}
		}
		.nav-button {
			background-color: #f7f7f7;
		}
	}
}

/*** DocLayout Dashboard Style ***/
.doclayout {
	padding: 1rem 0.6rem;
	display: grid;
	grid-template-rows: 132px 1fr;
	grid-template-columns: 1fr;
	gap: 0.8rem;

	.header {
		border-radius: 8px;
		border: 1px solid var(--neutral);
		padding: 1.5rem 1rem 1rem;

		h2 {
			color: var(--primary);
		}
		h4 {
			color: var(--text-col);
			margin: 1rem 0 0.5rem;
		}
		p {
			color: var(--text-neut);
		}
	}

	.body {
		border: 1px solid var(--neutral);
		border-radius: 8px;
		height: 100%;
		padding: 1rem;

		.body-top {
			display: grid;
			grid-template-columns: 1fr 120px;
			gap: 1rem;

			.search,
			.filters {
				border: 1px solid var(--neutral);
				border-radius: 8px;
				padding: 0.5rem;
				display: flex;
				align-items: center;
				gap: 0.5rem;
			}
			.search input,
			.filters input {
				width: 100%;
			}
			input::placeholder {
				color: var(--accent);
			}
		}
	}
}

.htable {
	table {
		padding: 1rem 0;
		width: 100%;
	}
	thead > tr > th {
		text-align: left;
		padding: 1rem 0;
		color: var(--primary);
	}
	tbody > tr > td {
		padding: 1rem 0;
	}
	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			padding: 0.7rem;
			min-width: 150px;
			color: var(--white);
			border-radius: 8px;
			font-size: 1rem;
			background-color: var(--primary);
		}
		button:hover {
			cursor: pointer;
			color: var(--text-neut);
			background-color: var(--neutral);
		}
		button:disabled,
		button:disabled:hover {
			opacity: 0.5;
		}
	}
}
